h3{
    padding: 15px;
}
.flexible-class{
    display: flex;
    margin-bottom: 500px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
   
}
h1{
    font-size: 40px;
}
.link-button {
    text-decoration: none;
    background-color: rgb(231, 67, 168);
    padding: 10px 40px ;
    border-radius: 20px;
    color: cornsilk;
    font-weight: 700;
}
section{
    display: flex;
    margin-bottom: 500px;
}
footer h4{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
.bg{
    background-color: black;
    height: 120px;
}
.section-title{
    text-align: center;
}
.half-width2{
    width: 50%;
    padding-left: 50PX;
   
    
   
}
.half-width2 img{
    width: 70%;
    
    padding-left: 20% ;
}
.link-button2{
    text-decoration: none;
    background-color: rgb(245, 81, 190);
    padding: 10px 40px ;
    border-radius: 5px;
    color: cornsilk;
    font-weight: 700;
}

/* -------------courses-styles----------- */
.course .course-banner img{

    width:200 px;
    height:230 px;
}
/* .course-info{
    display: flex;

} */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 200px;
}
/* ----------Media-query----- */
@media only screen and (max-width:688px){
    
    .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .half-width{
        width: 50%;
        padding-left: 5%;
        
       
    }
    .half-width img{
        width: 70%;
        
        padding-right: 20% ;
    }
    .link-button2{
        text-decoration: none;
        background-color: rgb(245, 81, 190);
        padding: 5px 10px ;
        border-radius: 5px;
        color: cornsilk;
        font-weight: 700;
    }
    .link-button{
        text-decoration: none;
        background-color: rgb(245, 81, 190);
        padding: 5px 10px ;
        border-radius: 5px;
        color: cornsilk;
        font-weight: 700;
    }
    .animation:hover{
        transform: rotate(60deg);
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    
    .courses{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .link-button2{
        text-decoration: none;
        background-color: rgb(245, 81, 190);
        padding: 5px 10px ;
        border-radius: 5px;
        color: cornsilk;
        font-weight: 700;
    }
    .link-button{
        text-decoration: none;
        background-color: rgb(245, 81, 190);
        padding: 5px 10px ;
        border-radius: 5px;
        color: cornsilk;
        font-weight: 700;
    }
    .half-width img{
        width: 80%;
        
        padding-right: 20% ;
    }
    .animation:hover{
        transform: rotate(60deg);
    }
}
.animation:hover{
    transform: rotate(60deg);
}